/* global.css */
body {
    font-family: "Verdana", sans-serif;
    background-color:  #101010;
    color: white;
}

.content-container {
    max-width: 800px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the content container on the page */
    padding: 20px;
    /* Add some padding for spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh; /* Full viewport height */
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    padding: 20px;
}

h2 {
    padding: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    padding: 20px;
}

.triangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* Adjust the margin as needed */
}

.circle {
    width: 200px;
    /* Adjust the size of the circles as needed */
    height: 200px;
    /* Adjust the size of the circles as needed */
    background-color: gold;
    border-radius: 50%;
    margin: 0 100px;
    cursor: pointer;
    /* Adjust the margin between circles as needed */
}

.title-image {
    max-width: 1500px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    align-items: center;
    margin-bottom: 20px;
}




